@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
  --color-darker: #020617;
  --color-primary: #3b82f6;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-critical: #ef4444;
}

body {
    background-color: #020617;
    color: #f8fafc;
    font-family: 'Inter', sans-serif;
}
